.react-datepicker {
  background: transparent !important;
  border: none !important;
}

.react-datepicker__header {
  background: transparent !important;
}

.react-datepicker__day {
  color: white !important;
}

.react-datepicker__day:hover {
  background: hsla(0, 0%, 100%, 0.25) !important;
}

.react-datepicker__day-name {
  color: white !important;
}
