.react-datepicker {
  background: hsl(231, 33%, 8%) !important;
  border: 1px solid white !important;
  padding: 20px 10px;
}

.react-datepicker__header {
  background: transparent !important;
}

.react-datepicker__day {
  color: white !important;
}

.react-datepicker__day:hover {
  background: hsla(0, 0%, 100%, 0.25) !important;
}

.react-datepicker__day-name {
  color: white !important;
}
