html, body {
  background: url('/bg.jpg') !important;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

/* :root {
  --vh: 100vh;
} */

body {
  width: 100vw;
  height: calc(100 * var(--vh));
}
